/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #d59b6a;
  --ifm-color-primary-dark: #ce8a51;
  --ifm-color-primary-darker: #ca8245;
  --ifm-color-primary-darkest: #ae6a31;
  --ifm-color-primary-light: #dcac83;
  --ifm-color-primary-lighter: #e0b48f;
  --ifm-color-primary-lightest: #eacdb5;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #d59b6a;
  --ifm-color-primary-dark: #ce8a51;
  --ifm-color-primary-darker: #ca8245;
  --ifm-color-primary-darkest: #ae6a31;
  --ifm-color-primary-light: #dcac83;
  --ifm-color-primary-lighter: #e0b48f;
  --ifm-color-primary-lightest: #eacdb5;
}
